*~
*.swp
*.done
*.log
FAILURE
/SOURCES/*.gz
/SOURCES/*.bz2
/SOURCES/*.xz
/SOURCES/*.patch
/SOURCES/*.diff
SPECS/*.original
rpmbuild/SPECS/LOGS
rpmbuild/TOOLS-LFS/DONE
rpmbuild/TOOLS-LFS/LOGS
rpmbuild/TOOLS-RPM/DONE
rpmbuild/TOOLS-RPM/LOGS
*/DONE/*
7.2
7.2/*
*.gz
*.bz2
*.xz
*.patch
*.diff
*.rpm
